# dependencies
node_modules/
client/node_modules/
server/node_modules/

# build outputs
.next/
out/
dist/
server/dist/

# env files
.env
.env.local
server/.env
client/.env.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
